.left-container {
    height: 600px;
    overflow-y: scroll;
    padding: 0;

    @media (max-width: 768px) {
        height: 100vh;
    }
}

.list-group-item.active {
    background-color: #1b68b3;
}