@import '../../variables.scss';

.card {
    width: 18rem;
}

.list-group-item {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;

    &:hover {
        background-color: $hoverCard;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: $md) {
            display: none;
        }
    }
}

.circle-image {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: block;
}

.card-body {
    display: flex;
    padding: 0;

    @media (max-width: $md) {
        justify-content: center;
    }
}


.list-group-item.active {
    background-color: $activeBlue;
}

.text-muted {
    color: $mutedText !important;
}

.word-inline {
    white-space: nowrap;
    overflow-x: hidden;
}