.card {
    width: 18rem;
}

.list-group-item {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

// .user-list-item {
//     cursor: pointer;
//     transition: all .3s ease-in-out;
// }

// .user-list-item:hover {
//     background-color: royalblue;
// }